In [10]:
# Select the column you want to export
selected_column = clinics_df

# Write the selected column to a new CSV file
selected_column.to_csv('dim_clinics_cleaned_1.csv', index=False)

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pytz

# sets the theme of the charts
plt.style.use('seaborn-v0_8-darkgrid')

%matplotlib inline

In [1]:
d = pd.read_csv('transformed/dim_clinics_cleaned.csv', low_memory=False, encoding='unicode_escape')

NameError: name 'pd' is not defined

In [112]:
clinics_df = pd.read_csv('dim_clinics_cleaned.csv', low_memory=False, encoding='unicode_escape')

In [2]:
appointments_df = pd.read_csv('transformed/fact_appointments.csv', low_memory=False, encoding='unicode_escape')

In [70]:
clinics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53962 entries, 0 to 53961
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   clinicid      53962 non-null  object
 1   LocationId    53962 non-null  object
 2   hospitalname  17538 non-null  object
 3   IsHospital    53962 non-null  int64
dtypes: int64(1), object(3)
memory usage: 1.6+ MB

In [71]:
clinics_df

,clinicid,LocationId,hospitalname,IsHospital
0,77EE3BC58CE560B86C2B59363281E914,NCRMNLTGG,St. Luke's Medical Center-Global City,1
1,98C39996BF1543E974747A2549B3107C,NCRMNLMNL,Our Lady of Lourdes Hospital,1
2,9AEADE7BEADA35C83D3B344FBAFE43B0,NCRMNLMKT,Makati Medical Center,1
3,FDBD31F2027F20378B1A80125FC862DB,NCRMNLSNJN,Cardinal Santos Medical Center,1
4,205C3608ECB984C1F5F5D2F52C934428,ILCSSRBRGS,NaN,0
...,...,...,...,...
53957,8DE279A56DBCECE9F9FFC514A7D5A378,NCRMNLMNL,NaN,0
53958,55A64961C9AA4134016786AE7202682E,NCRMNLMNL,NaN,0
53959,075E464A7D15E6E5B9D8F8F5B5B16BB9,NCRMNLMNL,NaN,0
53960,01063BCF7624297FBB408495BCB62904,NCRMNLMLBN,Malabon Hospital and Medical Center,1
53961,5DA48026B54B6EEB6062817CAA7C30EA,NCRMNLMLBN,NaN,0

In [125]:
clinics_df[clinics_df['LocationId'] =='IIIBTNRN2']

                               clinicid LocationId hospitalname  IsHospital
8546   7A35F9CD32D949F8A278DCA777827318  IIIBTNRN2          NaN           0
33208  174921EA194100ABDE22E3A0F2DAE433  IIIBTNRN2          NaN           0
40923  02FD6CF9553BE2D58EFE687B857830F6  IIIBTNRN2          NaN           0
49504  491785A3C586CB72F91D6A172335BA64  IIIBTNRN2          NaN           0
50376  14E551C783C0DB4A9DCE5460EFCCF524  IIIBTNRN2          NaN           0

In [114]:
clinics_df[clinics_df['clinicid'] =='F65854DA4622C1F1AD4FFEB361D7703C']

,clinicid,LocationId,hospitalname,IsHospital
12337,F65854DA4622C1F1AD4FFEB361D7703C,IVABTNGSBN,Queen Mary Hospital,1

In [10]:
orig_clinics_df = pd.read_csv('clinics_cleaned.csv', low_memory=False, encoding='unicode_escape')

In [11]:
orig_clinics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53962 entries, 0 to 53961
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   clinicid      53962 non-null  object
 1   hospitalname  17538 non-null  object
 2   IsHospital    53962 non-null  bool
 3   City          53962 non-null  object
 4   Province      53962 non-null  object
 5   RegionName    53962 non-null  object
dtypes: bool(1), object(5)
memory usage: 2.1+ MB

In [118]:
orig_clinics_df[orig_clinics_df['City'] =='Bauan']

,clinicid,hospitalname,IsHospital,City,Province,RegionName
1871,561E7E7D74CECE738DE9B23C0DD293D2,Bauan Doctors General Hospital,True,Bauan,Batangas,CALABARZON (IV-A)
5333,6C468EC5A41D65815DE23EC1D08D7951,Bauan Doctors General Hospital,True,Bauan,Batangas,CALABARZON (IV-A)
6674,8BD2C3F7FD5B165B470BEB1CC83071AB,Bauan Doctors General Hospital,True,Bauan,Batangas,CALABARZON (IV-A)
9436,82F5E54D8E425CF93AF25E86B4BE04F8,NaN,False,Bauan,Batangas,CALABARZON (IV-A)
13888,3B13B1EB44B05F57735764786FAB9C2C,Bauan Doctors General Hospital,True,Bauan,Batangas,CALABARZON (IV-A)
14840,8A488824CB3388FE033E110B350EF9E9,Bauan Doctors General Hospital,True,Bauan,Batangas,CALABARZON (IV-A)
14965,B20AB15A36E8643D52041A1CBCE997E5,NaN,False,Bauan,Batangas,CALABARZON (IV-A)
14966,E122D05FAF63559CE66FF9D98CB413A4,NaN,False,Bauan,Batangas,CALABARZON (IV-A)
14968,134DD796229F80F23B75AF20495B8D50,Bauan Doctors General Hospital,True,Bauan,Batangas,CALABARZON (IV-A)
14969,DEE767F49E1CF1DDD63E3BBE57489542,NaN,False,Bauan,Batangas,CALABARZON (IV-A)
22131,EE85E073C07E87D0DF12A23E4CE7BB4E,NaN,False,Bauan,Batangas,CALABARZON (IV-A)
23773,71541653EDFD81EE0AE62FB1FD1BE011,Bauan Doctors General Hospital,True,Bauan,Batangas,CALABARZON (IV-A)
25594,160743788AA7329FE5EBD7D19383E361,NaN,False,Bauan,Batangas,CALABARZON (IV-A)
26335,FF2D0926D6B07FF0179183A9D687989E,Bauan General Hospital,True,Bauan,Batangas,CALABARZON (IV-A)
33129,1D656CA6611216968C7C89914031E043,NaN,False,Bauan,Batangas,CALABARZON (IV-A)
37511,C6A3A2C5533022519407029F38D214FA,NaN,False,Bauan,Batangas,CALABARZON (IV-A)
45047,332490CD64CC6873290C5029EC6A508F,Bauan Doctors General Hospital,True,Bauan,Batangas,CALABARZON (IV-A)

In [119]:
clinic_replacements = {'EF51E95CC22745740D4E8C771E011E1F': 'IIIBTNRN1',
                       '2330B630A226A3C65689E546084FCDFC': 'IIIBTNRN1', 
                       'E594B22CF15B445F7476775AA508E9C3': 'IIIBTNRN1', 
                       'D30710EDA505B38E92B01617A4702D80' : 'IIIBTNRN1', 
                       'B6F79519D3B769AFF4991526D838022D' :'IIIBTNRN1',

                        '7A35F9CD32D949F8A278DCA777827318' : 'IIIBTNRN2',
                        '174921EA194100ABDE22E3A0F2DAE433' : 'IIIBTNRN2',
                        '02FD6CF9553BE2D58EFE687B857830F6' : 'IIIBTNRN2',
                        '491785A3C586CB72F91D6A172335BA64' : 'IIIBTNRN2',
                        '14E551C783C0DB4A9DCE5460EFCCF524' : 'IIIBTNRN2',

                       'F65854DA4622C1F1AD4FFEB361D7703C' : 'IVABTNGSBN2',
                       'BBF2CCE2C026133D6A9DA7D08FC36CF2' : 'IVABTNGSBN2',
                       'B1F391B61183D032EA38054238EE092A' : 'IVABTNGSBN2',
                       '5F62B80E297EDBCBFB1BB211062834E9' : 'IVABTNGSBN2',
                       '5BB3C32AA0D036401034B38CE37CD827' : 'IVABTNGSBN2',
                       'F93C6B06973FCB6C973F776382A3A2FB' : 'IVABTNGSBN2',
                       '2C2E370CE9C89FF616B26919BCC5BC2B' : 'IVABTNGSBN2',
                       '7CFF95ABCC610F54FB7EC028DDD9803E' : 'IVABTNGSBN2',

                       '561E7E7D74CECE738DE9B23C0DD293D2' : 'IVABTNGSBN1',
                       '6C468EC5A41D65815DE23EC1D08D7951' : 'IVABTNGSBN1',
                       '8BD2C3F7FD5B165B470BEB1CC83071AB' : 'IVABTNGSBN1',
                       '82F5E54D8E425CF93AF25E86B4BE04F8' : 'IVABTNGSBN1',
                       '3B13B1EB44B05F57735764786FAB9C2C' : 'IVABTNGSBN1',
                       '8A488824CB3388FE033E110B350EF9E9' : 'IVABTNGSBN1',
                       'B20AB15A36E8643D52041A1CBCE997E5' : 'IVABTNGSBN1',
                       'E122D05FAF63559CE66FF9D98CB413A4' : 'IVABTNGSBN1',
                       '134DD796229F80F23B75AF20495B8D50' : 'IVABTNGSBN1',
                       'DEE767F49E1CF1DDD63E3BBE57489542' : 'IVABTNGSBN1',
                       'EE85E073C07E87D0DF12A23E4CE7BB4E' : 'IVABTNGSBN1',
                       '71541653EDFD81EE0AE62FB1FD1BE011' : 'IVABTNGSBN1',
                       '160743788AA7329FE5EBD7D19383E361' : 'IVABTNGSBN1',
                       'FF2D0926D6B07FF0179183A9D687989E' : 'IVABTNGSBN1',
                       '1D656CA6611216968C7C89914031E043' : 'IVABTNGSBN1',
                       'C6A3A2C5533022519407029F38D214FA' : 'IVABTNGSBN1',
                       '332490CD64CC6873290C5029EC6A508F' : 'IVABTNGSBN1',
                      }
clinics_df['LocationId'] = clinics_df['clinicid'].replace(clinic_replacements)

In [19]:
clinics_df['LocationId'] = clinics_df['LocationId'].replace('2330B630A226A3C65689E546084FCDFC', 'IIIBTNRN1')

In [10]:
clinics_df['IsHospital'] = clinics_df['IsHospital'].replace({True:  1, False:  0})

In [39]:
clinics_df = clinics_df.drop(columns=['locationid', 'Locationid'])

### appointments

In [3]:
appointments_df = pd.read_csv('final-appointments.csv', low_memory=False, encoding='unicode_escape')

In [5]:
# Initialize new tables based on schema
fact_appointments = pd.DataFrame()

dim_status = pd.DataFrame()
dim_appt_type = pd.DataFrame()
dim_schedule = pd.DataFrame()
dim_queue = pd.DataFrame()

dim_doctors = pd.DataFrame()
dim_specialty = pd.DataFrame()

dim_px = pd.DataFrame()

dim_clinics = pd.DataFrame()
dim_locations = pd.DataFrame()

In [5]:
appointments_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1591655 entries, 0 to 1591654
Data columns (total 11 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   pxid        1591655 non-null  object
 1   clinicid    1591655 non-null  object
 2   doctorid    1591655 non-null  object
 3   apptid      1591655 non-null  object
 4   status      1591655 non-null  object
 5   TimeQueued  1591655 non-null  object
 6   QueueDate   1591655 non-null  object
 7   StartTime   1591655 non-null  object
 8   EndTime     1591655 non-null  object
 9   type        1591655 non-null  object
 10  Virtual     1591655 non-null  bool
dtypes: bool(1), object(10)
memory usage: 123.0+ MB

In [6]:
import pandas as pd
import uuid

# Select columns for fact_appointments
fact_appointments = appointments_df[['apptid', 'pxid', 'clinicid', 'doctorid', 'status', 'type', 'Virtual']].copy()

# fill up dimension tables
dim_status = pd.DataFrame({
    'StatusId': range(1, len(appointments_df['status'].unique()) +  1),
    'status':  appointments_df['status'].unique()
})

dim_appt_type = pd.DataFrame({
    'TypeId': range(1, len(appointments_df['type'].unique()) +  1),
    'type':  appointments_df['type'].unique()
})

dim_schedule = appointments_df[['StartTime', 'EndTime']].copy()
dim_schedule['ScheduleId'] = dim_schedule.apply(lambda x: str(uuid.uuid4()).replace('-', '')[:32].upper(), axis=1)

dim_queue = appointments_df[['TimeQueued', 'QueueDate']].copy()
dim_queue['QueueId'] = dim_queue.apply(lambda x: str(uuid.uuid4()).replace('-', '')[:32].upper(), axis=1)

# add ids to fact table
fact_appointments['StatusId'] = fact_appointments['status'].map(dict(zip(dim_status['status'], dim_status['StatusId'])))
fact_appointments['TypeId'] = fact_appointments['type'].map(dict(zip(dim_appt_type['type'], dim_appt_type['TypeId'])))
fact_appointments['ScheduleId'] = dim_schedule['ScheduleId'].copy()
fact_appointments['QueueId'] = dim_queue['QueueId'].copy()

# drop columns
fact_appointments = fact_appointments.drop(columns=['status', 'type'])

# rearrange columns
dim_schedule = dim_schedule[['ScheduleId', 'StartTime', 'EndTime']]
dim_queue = dim_queue[['QueueId', 'TimeQueued', 'QueueDate']]
fact_appointments = fact_appointments[['apptid', 'pxid', 'clinicid','doctorid', 'StatusId', 'QueueId', 'ScheduleId', 'TypeId', 'Virtual']]

fact_appointments

,apptid,pxid,clinicid,doctorid,StatusId,QueueId,ScheduleId,TypeId,Virtual
0,6585A31C60A1886FBA1433C50012B504,EAE3C87D0B33351272F2E9B9B1B56217,1E0F65EB20ACBFB27EE05DDC000B50EC,82AA4B0AF34C2313A562076992E50AA3,1,7B1E41E7C5BD477392843FE4B4A61AD8,917E2162563B4FE79FDC970B7C448CD0,1,False
1,7250DCFF615E6580295C7E6ED4322371,7C5C93809D626CC702D08F33985B2B58,1E0F65EB20ACBFB27EE05DDC000B50EC,82AA4B0AF34C2313A562076992E50AA3,1,9757BFD683E6446F87022AD518026BA5,4061181A3D0A4F218BF25ABEC3F13CD1,1,False
2,3C97ED8DEB47F647CCB03EBD4EF29454,AEDCF41DC52D12E251432E7AD7F1B63D,E3D2B39D8BC215F6540218D20280232A,6EB887126D24E8F1CD8AD5033482C781,1,D5470257896746C28F6214D6B67609E3,0EA939BE2AF2402AA4B41B11D184F23D,2,True
3,BECFD8A5DE525178D6D6A1AF9F286DFC,5A6901F2FA4BD45CAE61DBE9AF5C77E5,E3D2B39D8BC215F6540218D20280232A,6EB887126D24E8F1CD8AD5033482C781,2,1D2AB25623504E5BB3E74526860A1B5A,1523499205524A1994976CC3EA316C28,2,True
4,164D322138305803002D9BC9E03059BF,4279B2E57C678E5D05055BB660037292,E3D2B39D8BC215F6540218D20280232A,6EB887126D24E8F1CD8AD5033482C781,2,6665BA39D0B7421E835DEB48D18663B4,B69EABA54D574338B9A94DFCB59269E8,2,False
...,...,...,...,...,...,...,...,...,...
1591650,E5868BC11C6F01CEF6D3DD1B414933BC,258FB9CE51FFBE5825A4EC0977E41ACF,CCFC2D538DDFF519D893A6B966A1C4F1,B706835DE79A2B4E80506F582AF3676A,1,C346E834A76C4169817AA943FC4ADADB,55DCD61E23C04C8486404F6A6B00A394,2,False
1591651,7C0272E55A491A6161750CA41B053DB0,AF42EA190D0B573061C36AE96B4E9DFA,CCFC2D538DDFF519D893A6B966A1C4F1,B706835DE79A2B4E80506F582AF3676A,1,7C1DFCD1219B41D3A655851F230ECCE6,39010E54DABD4B9FAD19CDC462E44E7B,2,False
1591652,EFE2DDFD855E2B4E1C67956CE1CE8A6E,84E3EB4A060096C3702D33F5A52E8B43,CCFC2D538DDFF519D893A6B966A1C4F1,B706835DE79A2B4E80506F582AF3676A,1,D37A731CEAF54B64A2366BD6E85AB49F,920C29FA2B6D450F834C267C35348319,2,False
1591653,434410208F17F50143E1CE66E4CEF23F,2B9F701BED6F68800637ADB7EF4CACE2,CCFC2D538DDFF519D893A6B966A1C4F1,B706835DE79A2B4E80506F582AF3676A,1,65E299011F9A466A8207CBB1D0AF9235,D8E22732339E4C3ABC6748E4365B282C,2,False
1591654,62D462EFFD157E70C4301E555962D44B,2ED01D09EF929AE3CA7564A2CB09DC2C,40F4775D64533EE66E3E20AE64228661,B706835DE79A2B4E80506F582AF3676A,1,DCB1B5CCD7154A4AB58F848115A6145C,279F3CF01B98422A8FED9BC580F3223A,2,False

### doctors

dim_doctors = pd.DataFrame()
dim_specialty = pd.DataFrame()

dim_px = pd.DataFrame()

In [12]:
dim_doctors = pd.read_csv('doctors_cleaned.csv', low_memory=False, encoding='utf-8')
dim_doctors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17171 entries, 0 to 17170
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   doctorid       17171 non-null  object
 1   mainspecialty  17171 non-null  object
 2   age            17171 non-null  int64
dtypes: int64(1), object(2)
memory usage: 402.6+ KB

In [73]:
dim_doctors['mainspecialty'].unique()

array(['General Medicine', 'Family Medicine', 'Vascular Medicine',
       'General Dentistry', 'Orthopedic Surgery', 'Sports Medicine',
       'Neurosurgery', 'Internal Medicine', 'Otolaryngology (ENT)',
       'Pediatrics', 'Ophthalmology', 'General Surgery',
       'Imaging and Radiology', 'Anesthesiology', 'Gastroenterology',
       'Obstetrics And Gynecology (OBGYN)', 'Bariatric Surgery',
       'Orthopedics - Interventional', 'Dermatology',
       'Dentistry - Orthodontics', 'Nursing', 'Podiatry', 'Ob Sonology',
       'Dentistry - Oral Surgery', 'Dentistry - Pediatrics',
       'Endocrinology', 'Urgent Care Medicine', 'Acupuncture',
       'Plastic Surgery', 'Physical Medicine & Rehabilitation',
       'Cosmetic Surgery', 'Psychiatry', 'Urology', 'Oral Surgery',
       'Integrative Medicine', 'Primary Care', 'Maxillofacial Surgery',
       'Hepato-Pancreatico-Biliary (HPB) Surgery', 'Emergency Medicine',
       'Neurology', 'Respiratory Therapy', 'Oncology - Medical',
       'Reproductive Endocrinology and Infertility', 'Sleep Medicine',
       'Pain Medicine', 'Public Health', 'Oncology - Radiation',
       'Cardiology', 'Optometry', 'Aesthetic, Reconstructive & Burn',
       'Geriatric Medicine', 'Thoracic Cardiovascular Surgery',
       'Nephrology', 'Rheumatology', 'Physical Therapy', 'Oncology',
       'Dermatopathology', 'Dentistry - Prosthodontics',
       'Infectious Disease', 'Orthopedic Surgery - Spine', 'Pulmonology',
       'Poisons and Toxins', 'Foot, Ankle, and Lower Leg',
       'Transgender Health And Wellness', 'Vascular Surgery',
       'Psychiatry - Child & Adolescent', 'Oncology - Surgical',
       'Chiropractic', 'Addiction Medicine', 'Dentistry - Endodontics',
       'Dentistry - Periodontics', 'Hepatology', 'Colorectal Surgery',
       'Hematology', 'Diabetology', 'Midwifery', 'Occupational Therapy',
       'Veterinary', 'Psychology', 'Physiatry', 'Physiotherapy',
       'Transplant Surgery', 'Speech-Language Pathology', 'Neonatology',
       'Hepatobiliary Surgery', 'Perinatology',
       'Orthopedic Surgery - Foot & Ankle', 'Allergology & Immunology',
       'Cardiothoracic Surgery', 'Oncology - Trophoblastic Diseases',
       'Psychotherapy', 'Toxicology', 'Neurotology',
       'Hospice And Palliative Care', 'Guidance & Counseling'],
      dtype=object)

In [133]:
dim_doctors

                               doctorid SpecialtyId  age
0      AD61AB143223EFBC24C7D2583BE69251      GENMED   41
1      D09BF41544A3365A46C9077EBB5E35C3      FAMMED   43
2      FBD7939D674997CDB4692D34DE8633C4      VASMED   26
3      35F4A8D465E6E1EDC05F3D8AB658C551      GENDEN   50
4      D1FE173D08E959397ADF34B1D77E88D7      ORTSUR   62
...                                 ...         ...  ...
17166  5A1AB4B16B638D40D0999EC501A9E27D         DER   32
17167  9DAD7AEA5A3D325372DF85D324E1840A         PSY   34
17168  D1EEFDEF38B0DC9967B2482ED5676157         PED   37
17169  178B515E6825D004EBAF232DD6977CCD      GENMED   29
17170  23BA85862DD19C3550E7C0F0AF84C7ED      INTMED   38

[17171 rows x 3 columns]

In [9]:
dim_doctors['mainspecialty'] = dim_doctors['mainspecialty'].apply(clean_specialty)

dim_doctors['SpecialtyId'] = dim_doctors['mainspecialty'].map(dict(zip(dim_specialty['Specialty'], dim_specialty['SpecialtyId'])))

dim_doctors = dim_doctors.drop(columns=['mainspecialty'])
dim_doctors = dim_doctors[['doctorid', 'SpecialtyId', 'age']]

dim_doctors

                               doctorid SpecialtyId  age
0      AD61AB143223EFBC24C7D2583BE69251      GENMED   41
1      D09BF41544A3365A46C9077EBB5E35C3      FAMMED   43
2      FBD7939D674997CDB4692D34DE8633C4      VASMED   26
3      35F4A8D465E6E1EDC05F3D8AB658C551      GENDEN   50
4      D1FE173D08E959397ADF34B1D77E88D7      ORTSUR   62
...                                 ...         ...  ...
17166  5A1AB4B16B638D40D0999EC501A9E27D         DER   32
17167  9DAD7AEA5A3D325372DF85D324E1840A         PSY   34
17168  D1EEFDEF38B0DC9967B2482ED5676157         PED   37
17169  178B515E6825D004EBAF232DD6977CCD      GENMED   29
17170  23BA85862DD19C3550E7C0F0AF84C7ED      INTMED   38

[17171 rows x 3 columns]

In [14]:
import pandas as pd
import re

# Replace 'and' with '&', Remove substrings that start and end with '()'
def clean_specialty(specialty):
    cleaned_specialty = re.sub(r'(?i)and', '&', specialty)
    cleaned_specialty = re.sub(r'\([^)]*\)', '', cleaned_specialty)
    return cleaned_specialty.strip()

 # Generate abbrv, Ensure uniqueness by adding a numerical suffix if needed
def generate_abbreviation(specialty, existing_abbreviations, all_abbreviations):
    cleaned_specialty = re.sub(r'[^a-zA-Z0-9]', '_', specialty)
    abbreviation = ''.join(word[:3].upper() for word in cleaned_specialty.split('_'))
   
    suffix = 1
    original_abbreviation = abbreviation
    while abbreviation in existing_abbreviations or abbreviation in all_abbreviations:
        abbreviation = original_abbreviation + str(suffix)
        suffix += 1
    
    existing_abbreviations.add(abbreviation)
    all_abbreviations.add(abbreviation)
    return abbreviation
 
dim_specialty['Specialty'] = dim_doctors['mainspecialty'].unique()
dim_specialty['Specialty'] = dim_specialty['Specialty'].apply(clean_specialty)

# Add a new column 'SpecialtyId'
dim_specialty['SpecialtyId'] = ''
existing_abbreviations = set()
all_abbreviations = set()

# Generate abbreviations for each specialty
for idx, row in dim_specialty.iterrows():
    specialty = row['Specialty']
    abbreviation = generate_abbreviation(specialty, existing_abbreviations, all_abbreviations)
    dim_specialty.at[idx, 'SpecialtyId'] = abbreviation

dim_specialty = dim_specialty[['SpecialtyId', 'Specialty']].sort_values(by='SpecialtyId', ascending=True)

# Display the result
dim_specialty['SpecialtyId'].value_counts(ascending=True)

SpecialtyId
ACU          1
PHYMEDREH    1
PHY1         1
PHY          1
PER          1
            ..
GENSUR       1
GENMED       1
GENDEN       1
HOSPALCAR    1
VET          1
Name: count, Length: 95, dtype: int64

### clinics

In [157]:
dim_clinics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53962 entries, 0 to 53961
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   clinicid      53962 non-null  object
 1   hospitalname  17538 non-null  object
 2   IsHospital    53962 non-null  bool
 3   City          53962 non-null  object
 4   Province      53962 non-null  object
 5   RegionName    53962 non-null  object
dtypes: bool(1), object(5)
memory usage: 2.1+ MB

In [220]:
dim_locations.info()

<class 'pandas.core.frame.DataFrame'>
Index: 808 entries, 0 to 53426
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        808 non-null    object
 1   Province    808 non-null    object
 2   RegionName  808 non-null    object
dtypes: object(3)
memory usage: 25.2+ KB

In [219]:
dim_clinics = pd.read_csv('clinics_cleaned.csv', low_memory=False, encoding='unicode_escape')
dim_clinics.info()

dim_locations = dim_clinics[['City', 'Province', 'RegionName']].copy()
dim_locations.drop_duplicates(subset=['City', 'Province', 'RegionName'], inplace=True)
dim_locations

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53962 entries, 0 to 53961
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   clinicid      53962 non-null  object
 1   hospitalname  17538 non-null  object
 2   IsHospital    53962 non-null  bool
 3   City          53962 non-null  object
 4   Province      53962 non-null  object
 5   RegionName    53962 non-null  object
dtypes: bool(1), object(5)
memory usage: 2.1+ MB

               City         Province                     RegionName
0            Taguig           Manila  National Capital Region (NCR)
1            Manila           Manila  National Capital Region (NCR)
2            Makati           Manila  National Capital Region (NCR)
3          San Juan           Manila  National Capital Region (NCR)
4            Burgos       Ilocos Sur              Ilocos Region (I)
...             ...              ...                            ...
52152    Santa Cruz       Marinduque                MIMAROPA (IV-B)
52339       Janiuay           Iloilo           Western Visayas (VI)
52943  Vallehermoso  Negros Oriental          Central Visayas (VII)
53204        Buguey          Cagayan            Cagayan Valley (II)
53426      Kapalong  Davao del Norte              Davao Region (XI)

[808 rows x 3 columns]

In [175]:
dim_locations

             City
0          Taguig
1          Manila
2          Makati
3        San Juan
4          Burgos
..            ...
738   Patnanungan
739       Janiuay
740  Vallehermoso
741        Buguey
742      Kapalong

[743 rows x 1 columns]

In [137]:
dim_locations['RegionName'].unique()

array(['National Capital Region (NCR)', 'Ilocos Region (I)',
       'Caraga (XIII)', 'Cagayan Valley (II)', 'Central Visayas (VII)',
       'CALABARZON (IV-A)', 'Western Visayas (VI)', 'Central Luzon (III)',
       'MIMAROPA (IV-B)', 'Bicol Region (V)', 'Davao Region (XI)',
       'SOCCSKSARGEN (Cotabato Region) (XII)', 'Northern Mindanao (X)',
       'Zamboanga Peninsula (IX)', 'Eastern Visayas (VIII)',
       'Cordillera Administrative Region (CAR)',
       'Bangsamoro Autonomous Region in Muslim Mindanao (BARMM)'],
      dtype=object)

In [154]:
dim_locations['City'].value_counts()

City
Manila         23572
Quezon City     4609
Pasig           1302
Makati          1222
Taguig          1170
               ...
Antequera          1
Jaen               1
Santander          1
Bagac              1
Kapalong           1
Name: count, Length: 743, dtype: int64

In [221]:
import pandas as pd
import re

# Function to remove vowels from a string
def remove_vowels(s):
    return ''.join(char for char in s if char.lower() not in {'a', 'e', 'i', 'o', 'u', ' '})

# Function to extract substring contained within parentheses
def extract_substring(s):
    match = re.search(r'\((.*?)\)$', s)
    return match.group(1) if match else ""
    
# Function to create location ID
def create_location_id(row):
    region_name_without_vowels = remove_vowels(row['RegionName'])
    region_name_substring = extract_substring(row['RegionName'])[-5:]
    province = remove_vowels(row['Province'])
    city = remove_vowels(row['City'])
    location_id = f"{region_name_substring.upper().replace('-','').replace('(','').replace(' ','')}{province.upper()}{city.upper()}"
    return location_id

# Apply the create_location_id function to the DataFrame
dim_locations['LocationId'] = dim_locations.apply(create_location_id, axis=1)

# Display the result
dim_locations = dim_locations[['LocationId', 'City', 'Province', 'RegionName']].sort_values(by='LocationId', ascending=True)
dim_locations

,LocationId,City,Province,RegionName
11366,BARMMBSLNL-BRK,Al-Barka,Basilan,Bangsamoro Autonomous Region in Muslim Mindana...
50269,BARMMBSLNSBLCTY,Isabela City,Basilan,Bangsamoro Autonomous Region in Muslim Mindana...
5145,BARMMLNDLSRBLNDNG,Balindong,Lanao del Sur,Bangsamoro Autonomous Region in Muslim Mindana...
36135,BARMMLNDLSRMRNT,Marantao,Lanao del Sur,Bangsamoro Autonomous Region in Muslim Mindana...
1188,BARMMLNDLSRMRWCTY,Marawi City,Lanao del Sur,Bangsamoro Autonomous Region in Muslim Mindana...
...,...,...,...,...
25363,XMSMSRNTLMNTC,Manticao,Misamis Oriental,Northern Mindanao (X)
30111,XMSMSRNTLNT,Initao,Misamis Oriental,Northern Mindanao (X)
34844,XMSMSRNTLPL,Opol,Misamis Oriental,Northern Mindanao (X)
41635,XMSMSRNTLTGLN,Tagoloan,Misamis Oriental,Northern Mindanao (X)
25364,XMSMSRNTLTLSYN,Talisayan,Misamis Oriental,Northern Mindanao (X)

In [222]:
# dim_doctors['mainspecialty'] = dim_doctors['mainspecialty'].apply(clean_specialty)

# dim_doctors['SpecialtyId'] = dim_doctors['mainspecialty'].map(dict(zip(dim_specialty['Specialty'], dim_specialty['SpecialtyId'])))

# #dim_doctors = dim_doctors.drop(columns=['mainspecialty'])
# dim_doctors = dim_doctors[['doctorid', 'SpecialtyId', 'age']]

# dim_doctors


dim_clinics = pd.merge(dim_clinics, dim_locations, on=['City', 'Province', 'RegionName'], how='left')


dim_clinics = dim_clinics.drop(columns=['City', 'Province', 'RegionName'])

dim_clinics = dim_clinics[['clinicid', 'LocationId', 'hospitalname', 'IsHospital']]

dim_clinics

,clinicid,LocationId,hospitalname,IsHospital
0,77EE3BC58CE560B86C2B59363281E914,NCRMNLTGG,St. Luke's Medical Center-Global City,True
1,98C39996BF1543E974747A2549B3107C,NCRMNLMNL,Our Lady of Lourdes Hospital,True
2,9AEADE7BEADA35C83D3B344FBAFE43B0,NCRMNLMKT,Makati Medical Center,True
3,FDBD31F2027F20378B1A80125FC862DB,NCRMNLSNJN,Cardinal Santos Medical Center,True
4,205C3608ECB984C1F5F5D2F52C934428,ILCSSRBRGS,NaN,False
...,...,...,...,...
53957,8DE279A56DBCECE9F9FFC514A7D5A378,NCRMNLMNL,NaN,False
53958,55A64961C9AA4134016786AE7202682E,NCRMNLMNL,NaN,False
53959,075E464A7D15E6E5B9D8F8F5B5B16BB9,NCRMNLMNL,NaN,False
53960,01063BCF7624297FBB408495BCB62904,NCRMNLMLBN,Malabon Hospital and Medical Center,True
53961,5DA48026B54B6EEB6062817CAA7C30EA,NCRMNLMLBN,NaN,False